#photographer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

#photographer-list a {
  margin-bottom: 83px;
}

#photographer-list .photographer-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#photographer-list .photographerName {
  font-size: 36px;

  margin: 20px 0 0 0;
}

#photographer-list .photographer-article img {
  height: 200px;
  width: 200px;

  object-fit: cover;

  border-radius: 50%;
}

#photographer-list .photographer-article p {
  margin: 3px;
}

#photographer-list .photographer-article .location {
  font-size: 13px;
  font-weight: bold;
}

#photographer-list .photographer-article .price {
  font-size: 9px;
  color: #757575;
}
