@import url("photographers.css");
@import url("photographer.css");
@import url("contact.css");
@import url("lightbox.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

main {
  padding: 0 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.primary-font {
  color: #901c1c;
}

.secondary-font {
  color: #d3573c;
}

.tertiary-background {
  background-color: #db8876;
}
